body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
}
h1 {
  color: navy;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
}
button {
  display: block;
  margin: 20px 20px;
  padding: 10px;
  border-radius: 5px;

  border: none;
}
